<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-html" target="build/logs/report" lowUpperBound="35"
			 highLowerBound="70"/>
	</logging>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>bu-section-editing.php</file>
			<file>src/class-edit-group.php</file>
			<file>src/class-edit-groups.php</file>
			<file>src/class-flat-permissions-editor.php</file>
			<file>src/class-group-permissions.php</file>
			<file>src/class-groups-admin-ajax.php</file>
			<file>src/class-groups-admin.php</file>
			<file>src/class-groups-list.php</file>
			<file>src/class-hierarchical-permissions-editor.php</file>
			<file>src/class-permissions-editor.php</file>
			<file>src/class-section-capabilities.php</file>
			<file>src/class-section-editing-plugin.php</file>
			<file>src/class-section-editing-upgrader.php</file>
		</whitelist>
	</filter>
</phpunit>
